.file_list {
  flex: 1;
  overflow: hidden;
}

.table {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.avatar {
  background-color: #e6f4ff;
  color: #1677ff;
}
