.file_list {
  flex: 1;
  overflow: hidden;
}

.table_wrapper {
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
  overflow: hidden;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  background-color: #e6f4ff;
  color: #1677ff;
}
